<h2>About me Page</h2><br>
<p>本頁為使用<a href="https://github.com/thoughtbot/high_voltage" target="_blank">high_voltage</a>生成之靜態頁面，<br>其優點為能夠直接在app/views/pages生成靜態頁面，並且直接用rails的 link_to("About", page_path('about'))直接連結過去，不需要另外設定`routes.rb`</p>
