<!-- main post list -->
<article>
  <header class="entry-header">
    <h2 class="title">
      <%= @post.title %>
    </h2>
  </header>

  <div class="entry-content">
    <%= markdown(@post.content) %>
  </div>

  <footer class="entry-footer">
    <span class="byline author vcard">Posted by <span class="fn">Weikz</span></span>
    <time datetime="{{ post.published_at.utc }}" pubdate data-updated="true"><%= @post.created_at.strftime("%Y-%m-%d")
%></time>
    <% if !@post.all_tags.blank? %>
      <div class="tags"><%=raw @post.all_tags %></div>
    <% end %>
  </footer>
</article>
<!-- end main post list -->
