@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//colors
$concrete: #f2f2f2;
$color_alto_approx: #ddd;
$color_mountain_mist_approx: #999;
$color_mine_shaft_approx: #333;
$color_gallery_approx: #eee;
$color_portafino_approx: #fbffad;
$white: #fff;
$color_eastern_blue_approx: #258fb8;
$color_celeste_approx: #ccc;
$color_azure_approx: #3b5998;
$color_cadet_blue_approx: #afb6ca;
$color_tia_maria_approx: #c83d20;
$color_orient_approx: #005a87;
$color_mojo_approx: #be4037;
$color_turquoise_blue_approx: #55cff8;
$color_tango_approx: #ef7522;
$color_pumice_approx: #c7c7c7;
$silver: #c0c0c0;

//fonts
$font_0: Open Sans;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Hiragino Sans GB;
$font_4: Arial;
$font_5: SimSun;
$font_6: sans-serif;
$font_7: FontAwesome;
$font_8: Georgia;
$font_9: serif;
$font_10: Source Code Pro;
$font_11: Menlo;
$font_12: Monaco;
$font_13: Andale Mono;
$font_14: lucida console;
$font_15: Courier New;
$font_16: monospace;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6;
  margin: 0;
  padding: 0;
}

//original selectors
//form:hover .search-field, .search-field:focus, .search-field:hover
%extend_2 {
  background-color: $white;
  border-top: 1px solid $color_celeste_approx;
  color: $color_mine_shaft_approx;
  width: 150px;
}

//original selectors
//.entry-content pre, .entry-content code
%extend_3 {
  background: $color_alto_approx;
  border: 1px solid $color_pumice_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  font-family: $font_10, $font_11, $font_12, $font_13, $font_14, $font_15, $font_16;
  webkit-border-radius: 5px;
}

//original selectors
//.entry-content h1, .entry-content h2
%extend_4 {
  border-bottom: 1px solid $color_alto_approx;
  font-weight: 300;
  margin-top: 20px;
  padding-bottom: 10px;
}

//original selectors
//.entry-content img, .entry-content video
%extend_5 {
  border: none;
  height: auto;
  max-width: 100%;
}

//original selectors
//.entry-content .video-container iframe, .entry-content .video-container object, .entry-content .video-container embed
%extend_6 {
  height: 100%;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

//original selectors
//.entry-footer .byline, .entry-footer time, .entry-footer .categories, .entry-footer .tags
%extend_7 {
  display: block;
  padding-left: 30px;
  position: relative;
}

//original selectors
//.entry-footer .byline::before, .entry-footer time::before, .entry-footer .categories::before, .entry-footer .tags::before
%extend_8 {
  color: $silver;
  font: 1.3em/1.6em $font_7;
  left: 0;
  position: absolute;
}


body {
  background: $color_gallery_approx;
  color: $color_mine_shaft_approx;
  font: 400 14px/1.5 'Open Sans','Helvetica Neue',Helvetica,'Hiragino Sans GB',Arial,SimSun,sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  webkit-font-smoothing: antialiased;
}
@media screen and(max-width: 1040px) {
  body {
    margin: 0 20px;
  }
}
h1 {
  @extend %extend_1;
  font-size: 1.8em;
}
h2 {
  @extend %extend_1;
  font-size: 1.5em;
}
h3 {
  @extend %extend_1;
  font-size: 1.3em;
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
a {
  color: $color_mine_shaft_approx;
  text-decoration: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .3s ease;
  &:hover {
    text-decoration: underline;
  }
  &:not([class*='icon-']):empty {
    display: none;
  }
}
.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
img {
  border: 0 none;
}
::-moz-selection {
  background-color: $color_portafino_approx;
}
::-webkit-selection {
  background-color: $color_portafino_approx;
}
::selection {
  background-color: $color_portafino_approx;
}
.legacy-browser {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}
.page-header {
  border-bottom: 1px solid $white;
  moz-user-select: none;
  ms-user-select: none;
  padding: 30px 0;
  position: relative;
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  webkit-user-select: none;
  &:after {
    border-bottom: 1px solid $color_alto_approx;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  a {
    text-decoration: none;
    &:hover {
      color: $color_eastern_blue_approx;
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
@media screen and(max-width: 1040px ) {
  .page-header {
    padding-bottom: 10px;
  }
  .logo {
    float: none;
    margin: 0 0 10px;
    z-index: 0;
    h1 {
      margin: 0 !important;
    }
  }
}
.logo {
  float: left;
  h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    margin-right: 80px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
  }
}
.menubar {
  position: relative;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media screen and(min-width: 601px) and(max-width: 1040px ) {
  .menubar .follow-me {
    position: absolute;
    right: 0;
    top: -40px;
  }
}
.header-menu {
  float: left;
  line-height: 30px;
  margin: 0;
  position: relative;
  .toggle-menu {
    background: $concrete;
    border: 1px solid $color_alto_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    color: $color_mountain_mist_approx;
    cursor: pointer;
    display: none;
    line-height: 33px;
    padding: 0 60px 0 10px;
    position: relative;
    webkit-border-radius: 5px;
    &:hover {
      color: $color_mine_shaft_approx;
    }
  }
  .toggle-menu::after {
    color: $color_alto_approx;
    content: "\f078";
    font: 16px $font_7;
    line-height: 33px;
    position: absolute;
    right: 40px;
    top: 0;
  }
  li {
    float: left;
    + li {
      margin-left: 50px;
    }
  }
  &.on {
    .toggle-menu {
      color: $color_mine_shaft_approx;
    }
    .toggle-menu::after {
      color: $color_mine_shaft_approx;
      content: '\f077';
    }
    ul {
      display: block;
    }
  }
}
@media screen and(max-width: 600px ) {
  .header-menu {
    float: none;
    .toggle-menu {
      display: block;
    }
    ul {
      background: $concrete;
      border-bottom: 1px solid $color_alto_approx;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0 0 5px 5px;
      color: $color_mountain_mist_approx;
      cursor: pointer;
      display: none;
      left: 0;
      position: absolute;
      top: 30px;
      webkit-border-radius: 0 0 5px 5px;
      width: 100%;
      z-index: 9;
    }
    li {
      border: 1px solid $color_alto_approx;
      border-bottom: 0 none;
      border-top: 0 none;
      float: none;
      + li {
        margin: 0;
      }
      a {
        display: block;
        line-height: 1.2;
        padding: 5px 10px;
      }
    }
  }
  .search {
    background: $color_alto_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0 5px 5px 0;
    height: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .3s ease;
    webkit-border-radius: 0 5px 5px 0;
    width: 30px;
    .search-field {
      display: none;
    }
    &.on {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 5px;
      webkit-border-radius: 5px;
      width: 100%;
      .search-field {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        display: block;
        font-size: 15px;
        padding: 7px 15px 8px 35px;
        webkit-border-radius: 5px;
        width: 100%;
      }
    }
    &.on::after {
      content: "\f00d";
      color: $color_mine_shaft_approx;
    }
  }
  .search::after {
    color: $concrete;
    font-size: 20px;
    left: 6px;
    top: 6px;
  }
  .follow-me {
    display: none;
  }
}
.search {
  cursor: pointer;
  float: right;
  margin: 2px 0 0 30px;
  position: relative;
}
.search::after {
  color: $color_celeste_approx;
  content: "\f002";
  font: 18px $font_7;
  left: 10px;
  line-height: 1;
  position: absolute;
  top: 4px;
}
.search-field {
  background-color: $concrete;
  border: 1px solid $color_alto_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 15px;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  color: $color_mountain_mist_approx;
  font-size: 13px;
  margin: 0;
  moz-box-sizing: border-box;
  padding: 4px 15px 4px 30px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .3s ease;
  webkit-border-radius: 15px;
  width: 40px;
  &:focus {
    @extend %extend_2;
  }
  &:hover {
    @extend %extend_2;
  }
}
.follow-me {
  float: right;
  a {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    color: $white;
    display: none;
    filter: alpha(opacity=50);
    float: left;
    font: 20px/1 FontAwesome;
    line-height: 30px;
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    text-align: center;
    webkit-border-radius: 50%;
    width: 30px;
    + a {
      margin-left: 15px;
    }
    &:hover {
      color: $white;
      filter: none;
      ms-filter: none;
      opacity: 1;
    }
  }
  a[href*=' &.'] {
    display: inline-block !important;
  }
  .icon-facebook {
    background: $color_azure_approx;
  }
  .icon-github {
    background: $color_cadet_blue_approx;
  }
  .icon-google-plus {
    background: $color_tia_maria_approx;
  }
  .icon-linkedin {
    background: $color_orient_approx;
  }
  .icon-pinterest {
    background: $color_mojo_approx;
  }
  .icon-twitter {
    background: $color_turquoise_blue_approx;
  }
  .icon-rss {
    background: $color_tango_approx;
  }
}
article {
  font-size: 16px;
  padding: 30px 0;
  + article {
    border-top: 1px solid $color_alto_approx;
    position: relative;
    &:after {
      border-top: 1px solid $white;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &.page {
    padding-left: 20px;
    .icon {
      display: none;
    }
  }
  &.link {
    .icon::before {
      content: '\f0c1';
    }
    .title a::after {
      color: $color_mountain_mist_approx;
      content: '\f08e';
      font: 12px $font_7;
      padding-left: 10px;
      vertical-align: super;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ol {
    margin: 0;
    padding: 0;
  }
  dl {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  &.post .icon::before {
    content: '\f016';
  }
  &.photo .icon::before {
    content: '\f030';
  }
}
.entry-content {
  //Instead of the line below you could use @include hyphens($value)
  hyphens: auto;
  line-height: 2;
  moz-hyphens: auto;
  ms-hyphens: auto;
  text-align: justify;
  webkit-hyphens: auto;
  //Instead of the line below you could use @include word-break($value)
  word-break: break-word;
  p {
    margin: 10px 0 0;
    padding: 0;
  }
  blockquote {
    margin: 10px 0 0;
    padding: 0;
    border-bottom: 1px solid $color_alto_approx;
    border-top: 1px solid $color_alto_approx;
    font-family: $font_8, $font_9;
    font-size: 1.1em;
    padding: 0 30px 15px;
    text-align: center;
    footer {
      border-top: none;
      font-size: .8em;
      line-height: 1;
      margin: 20px 0 0;
      padding-top: 0;
      cite::before {
        color: $color_celeste_approx;
        content: '��';
        padding: 0 .5em;
      }
    }
  }
  ul {
    margin: 10px 0 0;
    padding: 0;
    margin-left: 20px;
    ul {
      margin-top: 0;
    }
    ol {
      margin-top: 0;
    }
    dl {
      margin-top: 0;
    }
  }
  ol {
    margin: 10px 0 0;
    padding: 0;
    margin-left: 20px;
    ul {
      margin-top: 0;
    }
    ol {
      margin-top: 0;
    }
    dl {
      margin-top: 0;
    }
  }
  dl {
    margin: 10px 0 0;
    padding: 0;
    margin-left: 20px;
    ul {
      margin-top: 0;
    }
    ol {
      margin-top: 0;
    }
    dl {
      margin-top: 0;
    }
  }
  table {
    margin: 10px 0 0;
    padding: 0;
  }
  iframe {
    margin: 10px 0 0;
    padding: 0;
    border: none;
  }
  h3 {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 300;
  }
  h4 {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 600;
  }
  h5 {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 600;
  }
  h6 {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 600;
  }
  .video-container {
    margin: 10px 0 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    iframe {
      @extend %extend_6;
    }
    object {
      @extend %extend_6;
    }
    embed {
      @extend %extend_6;
    }
  }
  pre {
    margin: 10px 0 0;
    padding: 0;
    @extend %extend_3;
    line-height: 1.6;
    overflow: auto;
    padding: 5px 15px;
    //Instead of the line below you could use @include word-break($value)
    word-break: normal;
    code {
      background: none;
      border: none;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0;
      margin: 0;
      padding: 0;
      webkit-border-radius: 0;
    }
  }
  a {
    color: $color_eastern_blue_approx;
  }
  .permalink {
    color: $color_mine_shaft_approx;
    text-decoration: underline;
  }
  code {
    @extend %extend_3;
    font-size: .9em;
    margin: 0 3px;
    padding: 1px 3px;
  }
  h1 {
    @extend %extend_4;
  }
  h2 {
    @extend %extend_4;
  }
  img {
    @extend %extend_5;
  }
  video {
    @extend %extend_5;
  }
  .caption {
    color: $color_mountain_mist_approx;
    display: block;
    font-size: .9em;
    margin-top: 5px;
    padding-left: 25px;
    position: relative;
  }
  .caption::before {
    content: '\f040';
    font: 1.3em $font_7;
    left: 0;
    position: absolute;
    top: 3px;
  }
  .pullquote {
    border: none;
    float: right;
    font-size: 1.5em;
    margin: 1em 0 .5em 1.5em;
    padding: 0;
    text-align: left;
    width: 45%;
  }
}
.entry-footer {
  color: $color_mountain_mist_approx;
  font-size: .9em;
  line-height: 2;
  margin-top: 10px;
  a {
    color: $color_mountain_mist_approx;
    &:hover {
      color: $color_eastern_blue_approx;
      text-decoration: none;
    }
    &.comment-link::before {
      content: '\f075';
    }
  }
  a::before {
    font: 1.1em $font_7;
    padding-right: 10px;
    vertical-align: middle;
  }
  .byline {
    @extend %extend_7;
  }
  time {
    @extend %extend_7;
  }
  .categories {
    @extend %extend_7;
    a:not(:last-child )::after {
      content: ', ';
    }
  }
  .tags {
    @extend %extend_7;
    a:not(:last-child )::after {
      content: ', ';
    }
  }
  .byline::before {
    @extend %extend_8;
    content: '\f044';
  }
  time::before {
    @extend %extend_8;
    content: "\f073";
  }
  .categories::before {
    @extend %extend_8;
    content: '\f07b';
    left: 1px;
    top: 2px;
  }
  .tags::before {
    @extend %extend_8;
    content: '\f02c';
    left: 2px;
    top: 3px;
  }
  .comments {
    color: $color_mine_shaft_approx;
    .title a {
      color: $color_mine_shaft_approx;
    }
  }
}
.comments {
  border-top: 1px solid $color_alto_approx;
  margin-top: 30px;
  padding: 30px 0;
  position: relative;
  &:after {
    border-top: 1px solid $white;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .title {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
  }
  a:hover {
    text-decoration: none;
  }
}
.pagination {
  border-top: 1px solid $color_alto_approx;
  line-height: 20px;
  padding: 20px 0;
  position: relative;
  text-align: center;
  &:after {
    border-top: 1px solid $white;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  a {
    color: $color_eastern_blue_approx;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .3s;
    &:after {
      font-family: $font_7;
      position: absolute;
      top: 2px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: .3s;
    }
  }
  .prev {
    left: 0;
    padding-left: 40px;
    position: absolute;
    &:after {
      content: '\f053';
      left: 20px;
    }
    &:hover:after {
      left: 0;
    }
  }
  .next {
    padding-right: 40px;
    position: absolute;
    right: 0;
    &:after {
      content: '\f054';
      right: 20px;
    }
    &:hover:after {
      right: 0;
    }
  }
}
.archives {
  .year {
    float: left;
    font-size: 1.8em;
    margin-top: 15px;
  }
  .title {
    font-size: 1.5em;
  }
  article {
    margin-left: 200px;
    padding: 15px 0;
  }
  + .archives {
    border-top: 1px solid $color_alto_approx;
    position: relative;
    &:after {
      border-top: 1px solid $white;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
.page-footer {
  border-top: 1px solid $color_alto_approx;
  color: $color_mountain_mist_approx;
  font: .9em/1.6 'Open Sans','Helvetica Neue',Helvetica,'Hiragino Sans GB',Arial,SimSun,sans-serif;
  moz-user-select: none;
  ms-user-select: none;
  padding: 15px;
  position: relative;
  text-align: center;
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  webkit-user-select: none;
  &:after {
    border-top: 1px solid $white;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .credit {
    font-size: .9em;
  }
}
.more-link {
  float: right;
}
input:focus {
  outline: 0 none;
}
textarea:focus {
  outline: 0 none;
}
[contenteditable]:focus {
  outline: 0 none;
}
div:empty {
  display: none;
}
ul:empty {
  display: none;
}
ol:empty {
  display: none;
}
section:empty {
  display: none;
}
header:empty {
  display: none;
}
footer:empty {
  display: none;
}
span:empty {
  display: none;
}
strong:empty {
  display: none;
}
p:empty {
  display: none;
}
form:hover .search-field {
  @extend %extend_2;
}
.entry-header .title {
  font-size: 1.8em;
  font-weight: normal;
  a {
    color: $color_mine_shaft_approx;
    &:hover {
      color: $color_eastern_blue_approx;
      text-decoration: none;
    }
  }
}
